@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Noto+Sans+KR:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.input{
    border: 2px solid lightgray;
    padding: 5px 3px;
    padding-left: 7px;
    border-radius: 5px;
    outline: none;
    margin-top: 3px;
}

.simple-login{
    display: flex;
    border-radius: 5px;
    padding: 5px 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 8px;
    transition: 0.2s ease-in-out;
}

.style-card{
    margin-right: 40px;
    margin-top: 20px;
    img{
        border-radius: 20px;
        margin-bottom: 3px;
    }
    span:nth-child(3){
        color: rgb(182, 182, 182);
        font-size: small;
        margin-left: 3px;
    }
}

.footer-brands{
    font-size: x-large;
    margin-left: 15px;
    padding: 15px;
    border-radius: 100%;
    transition: 0.2s ease-in-out;
    &:hover{
        background-color: #1f1f1f;
        transition: 0.2s ease-in-out;
    }
}

.colormatch-video{
    padding-right: 20px;
    iframe{
        border-radius: 8px;
    }
    }
    

/* number 타입 화살표 없애기 */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type='number'] {
  -moz-appearance: textfield;
}